<hr>
<h1> Fibonacci Series trading </h1>

In [1]:
import matplotlib.pyplot as m
from scipy.stats import bernoulli
from scipy.stats import binom
from scipy import stats
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px 
import plotly.graph_objects as go

In [2]:
data = pd.read_csv('/Users/tejasmadhukar/Documents/Vscode/Data_s/Probability project/Data/NIFTY 50.csv')
data.head()

                        date    close     high      low     open  volume
0  2015-01-09 09:15:00+05:30  8301.20  8301.30  8285.45  8285.45       0
1  2015-01-09 09:20:00+05:30  8301.00  8303.00  8293.25  8300.50       0
2  2015-01-09 09:25:00+05:30  8294.15  8302.55  8286.80  8301.65       0
3  2015-01-09 09:30:00+05:30  8288.50  8295.75  8280.65  8294.10       0
4  2015-01-09 09:35:00+05:30  8283.45  8290.45  8278.00  8289.10       0

In [3]:
data['date'] = pd.to_datetime(data['date'])

In [4]:
data = data[data['date'].dt.year==2021]

In [5]:
data = data[data['date'].dt.month==3]

In [6]:
data['day'] = data['date'].dt.day
data

,date,close,high,low,open,volume,day
107390,2021-03-01 09:15:00+05:30,14702.40,14708.75,14644.00,14702.50,0,1
107391,2021-03-01 09:20:00+05:30,14705.20,14730.15,14687.45,14703.55,0,1
107392,2021-03-01 09:25:00+05:30,14680.80,14713.60,14662.15,14705.25,0,1
107393,2021-03-01 09:30:00+05:30,14672.45,14683.40,14647.45,14679.85,0,1
107394,2021-03-01 09:35:00+05:30,14733.90,14734.95,14671.60,14672.10,0,1
...,...,...,...,...,...,...,...
108960,2021-03-31 15:05:00+05:30,14700.35,14703.95,14674.25,14681.70,0,31
108961,2021-03-31 15:10:00+05:30,14694.30,14706.15,14686.90,14700.05,0,31
108962,2021-03-31 15:15:00+05:30,14686.70,14696.95,14686.55,14693.40,0,31
108963,2021-03-31 15:20:00+05:30,14687.75,14699.90,14676.05,14686.90,0,31
108964,2021-03-31 15:25:00+05:30,14693.05,14697.15,14686.05,14687.25,0,31

In [7]:
u1,u2,u3,d1,d2,d3 = 0,0,0,0,0,0

for i in range(data['day'].count()-1):
    if data['day'].values[i]!=data['day'].values[i+1]:
        df1 = data.iloc[:i+1]
        break
        # df1 = data.iloc[(i+1)-12:i+1]
        # if(i>20):
        #     break
        


df1.head()

,date,close,high,low,open,volume,day
107390,2021-03-01 09:15:00+05:30,14702.40,14708.75,14644.00,14702.50,0,1
107391,2021-03-01 09:20:00+05:30,14705.20,14730.15,14687.45,14703.55,0,1
107392,2021-03-01 09:25:00+05:30,14680.80,14713.60,14662.15,14705.25,0,1
107393,2021-03-01 09:30:00+05:30,14672.45,14683.40,14647.45,14679.85,0,1
107394,2021-03-01 09:35:00+05:30,14733.90,14734.95,14671.60,14672.10,0,1

In [8]:
df1

,date,close,high,low,open,volume,day
107390,2021-03-01 09:15:00+05:30,14702.40,14708.75,14644.00,14702.50,0,1
107391,2021-03-01 09:20:00+05:30,14705.20,14730.15,14687.45,14703.55,0,1
107392,2021-03-01 09:25:00+05:30,14680.80,14713.60,14662.15,14705.25,0,1
107393,2021-03-01 09:30:00+05:30,14672.45,14683.40,14647.45,14679.85,0,1
107394,2021-03-01 09:35:00+05:30,14733.90,14734.95,14671.60,14672.10,0,1
...,...,...,...,...,...,...,...
107460,2021-03-01 15:05:00+05:30,14744.55,14749.55,14729.10,14734.05,0,1
107461,2021-03-01 15:10:00+05:30,14760.80,14765.50,14741.55,14744.55,0,1
107462,2021-03-01 15:15:00+05:30,14783.50,14783.50,14759.00,14761.25,0,1
107463,2021-03-01 15:20:00+05:30,14776.35,14786.00,14762.95,14784.55,0,1
107464,2021-03-01 15:25:00+05:30,14784.15,14789.10,14777.05,14777.05,0,1

In [9]:
max_pt = max(df1['high'])
min_pt = min(df1['low'])
mean_point = (max_pt + min_pt)/2
upper_bound = mean_point + 5
lower_bound = mean_point - 5

In [10]:
min_pt

14638.9

In [11]:
max_pt

14806.65

In [12]:
close1 = list(df1['close'])

close1

[14702.4,
 14705.2,
 14680.8,
 14672.45,
 14733.9,
 14740.45,
 14757.8,
 14755.35,
 14739.15,
 14746.5,
 14734.5,
 14736.55,
 14752.25,
 14770.2,
 14785.0,
 14787.85,
 14794.45,
 14799.95,
 14786.45,
 14780.65,
 14792.85,
 14786.5,
 14788.45,
 14786.75,
 14777.2,
 14748.05,
 14741.15,
 14735.95,
 14730.95,
 14694.2,
 14697.3,
 14701.45,
 14690.15,
 14683.7,
 14691.4,
 14708.65,
 14695.2,
 14662.55,
 14644.3,
 14647.2,
 14650.5,
 14659.85,
 14688.15,
 14695.95,
 14693.15,
 14718.6,
 14731.3,
 14727.65,
 14716.75,
 14720.75,
 14736.05,
 14751.95,
 14763.75,
 14758.85,
 14747.65,
 14748.6,
 14723.05,
 14758.8,
 14756.2,
 14750.45,
 14749.0,
 14734.4,
 14728.65,
 14750.6,
 14761.4,
 14760.35,
 14736.0,
 14705.8,
 14726.0,
 14733.25,
 14744.55,
 14760.8,
 14783.5,
 14776.35,
 14784.15]

<h4> Upper cases</h4>

In [13]:
upper_bound

14727.775

In [14]:
lower_bound

14717.775

In [15]:

check = []
for i in (range(len(close1)-2)):
    if (close1[i] <= upper_bound) and (close1[i] >= lower_bound):
        temp = [close1[i],close1[i+1],close1[i+2]]
        check.append(temp)
        
check

[[14718.6, 14731.3, 14727.65],
 [14727.65, 14716.75, 14720.75],
 [14720.75, 14736.05, 14751.95],
 [14723.05, 14758.8, 14756.2],
 [14726.0, 14733.25, 14744.55]]

In [16]:
len(check)

5

In [17]:
for i in check:
    for j in i:
        if (check.index(i)==len(check)-1):
            break
        if j in check[check.index(i)+1]:
            i += check[check.index(i)+1]
            check.pop(check.index(i)+1)

In [18]:
check

[[14718.6,
  14731.3,
  14727.65,
  14727.65,
  14716.75,
  14720.75,
  14720.75,
  14736.05,
  14751.95],
 [14723.05, 14758.8, 14756.2],
 [14726.0, 14733.25, 14744.55]]

In [19]:
checkn = []
outside = []
for i in range(len(check)):
    emp = []
    checkn.append(emp)

for i in range(len(check)):
    emp = []
    outside.append(emp)
    
checkn

[[], [], []]

In [20]:
for i in range(len(check)):
    for x in check[i]:
        if x not in checkn[i]:
            checkn[i].append(x)

In [21]:
checkn

[[14718.6, 14731.3, 14727.65, 14716.75, 14720.75, 14736.05, 14751.95],
 [14723.05, 14758.8, 14756.2],
 [14726.0, 14733.25, 14744.55]]

In [36]:
checkn[0][-1]

14751.95

In [22]:
for i in range(len(checkn)):
    for j in range(len(checkn[i])-2):
        if(checkn[i][j]>upper_bound)or(checkn[i][j]<lower_bound):
            outside[i].append(checkn[i][j])

In [23]:
outside

[[14731.3, 14716.75], [], []]

In [24]:
upper_bound

14727.775

In [25]:
lower_bound

14717.775

In [26]:
# u2 and d2
#u3 and d3
u3 = 0
d3 = 0
u2 =0
d2 = 0
s = 0

for i in range(len(checkn)):
    if(len(outside[i])==1)and(checkn[i][-1]>upper_bound):
        u3 += 1
    if(len(outside[i])==1)and(checkn[i][-1]<lower_bound):
        d3 += 1
    for j in checkn[i]:
        if((j>upper_bound)and(len(checkn[i])==3)):
            u2 += 1
            break
        if((j<lower_bound)and(len(checkn[i])==3)):
            d2 += 1
            break

s = len(checkn)-(u2+d2+u3+d3)

In [27]:
len(checkn)

3

In [28]:
u2

2

In [29]:
d2

0

In [30]:
s

1

In [31]:
u3

0

In [32]:
d3

0