In [1]:
import matplotlib.pyplot as m
from scipy.stats import bernoulli
from scipy.stats import binom
from scipy import stats
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px 
import plotly.graph_objects as go

In [2]:
data = pd.read_csv('/Users/tejasmadhukar/Documents/Vscode/Data_s/Probability project/Data/NIFTY 50_30min.csv')
data['date'] = pd.to_datetime(data['date'])
data = data[data['date'].dt.year==2021]
data['day'] = data['date'].dt.day
data

,date,close,high,low,open,volume,day
17514,2021-01-11 09:15:00+05:30,14460.90,14474.05,14404.90,14474.05,0,11
17515,2021-01-11 09:45:00+05:30,14444.40,14478.95,14435.95,14460.95,0,11
17516,2021-01-11 10:15:00+05:30,14426.55,14445.10,14384.10,14445.10,0,11
17517,2021-01-11 10:45:00+05:30,14443.00,14455.00,14419.50,14426.50,0,11
17518,2021-01-11 11:15:00+05:30,14411.60,14443.55,14406.85,14443.00,0,11
...,...,...,...,...,...,...,...
20454,2021-12-31 13:15:00+05:30,17376.95,17400.55,17375.75,17396.85,0,31
20455,2021-12-31 13:45:00+05:30,17353.95,17389.35,17342.85,17376.90,0,31
20456,2021-12-31 14:15:00+05:30,17368.90,17371.20,17343.30,17354.30,0,31
20457,2021-12-31 14:45:00+05:30,17351.45,17377.25,17341.85,17368.75,0,31
20458,2021-12-31 15:15:00+05:30,17364.25,17365.45,17350.10,17351.40,0,31

In [15]:
def modelp(df1,arr,arr_c):
    max_pt = max(df1['high'])
    min_pt = min(df1['low'])
    mean_point = (max_pt + min_pt)/2
    upper_bound = mean_point + 5
    lower_bound = mean_point - 5
    close1 = list(df1['close'])
    check = []
    
    for i in (range(len(close1)-2)):
        if (close1[i] <= upper_bound) and (close1[i] >= lower_bound):
            temp = [close1[i],close1[i+1],close1[i+2]]
            check.append(temp)
            
    for i in check:
        for j in i:
            if (check.index(i)==len(check)-1):
                break
            if j in check[check.index(i)+1]:
                i += check[check.index(i)+1]
                check.pop(check.index(i)+1)
                
    checkn = []
    outside = []
    
    for i in range(len(check)):
        emp = []
        checkn.append(emp)
        
    for i in range(len(check)):
        emp = []
        outside.append(emp)
        
    for i in range(len(check)):
        for x in check[i]:
            if x not in checkn[i]:
                checkn[i].append(x)
                
    for i in range(len(checkn)):
        for j in range(len(checkn[i])-1):
            if(checkn[i][j]>upper_bound)or(checkn[i][j]<lower_bound):
                outside[i].append(checkn[i][j])
                
    for i in checkn:
        change = (i[-1]-i[0])/i[0]
        arr_c.append(change)
        
    u3 = 0
    d3 = 0
    u2 =0
    d2 = 0
    s = 0

    for i in range(len(checkn)):
        if(len(outside[i])==1)and(checkn[i][-1]>upper_bound):
            u3 += 1
        if(len(outside[i])==1)and(checkn[i][-1]<lower_bound):
            d3 += 1
        for j in checkn[i]:
            if((j>upper_bound)and(len(checkn[i])==3)):
                u2 += 1
                break
            if((j<lower_bound)and(len(checkn[i])==3)):
                d2 += 1
                break

    s = len(checkn)-(u2+d2+u3+d3)
    arr[0] += u2
    arr[1] += u3
    arr[2] += d2
    arr[3] += d3 
    arr[4] += s

In [16]:
arr = [0,0,0,0,0] #u2,u3,d2,d3,s
arr_c = []
for i in range(data['day'].count()-1):
    if data['day'].values[i]!=data['day'].values[i+1]:
        if(i==12):
            df1 = data.iloc[:i+1]
            modelp(df1,arr,arr_c)
        df1 = data.iloc[(i+1)-12:i+1]
        modelp(df1,arr,arr_c)

In [17]:

arr

[66, 86, 62, 69, -105]

In [18]:
sum = 0
for i in arr:
    sum += i
    
(arr[0]+arr[1])/sum

0.8539325842696629

In [19]:
arr[-1] *= -1
arr

[66, 86, 62, 69, 105]

In [20]:
(arr[0]+arr[1])/sum

0.8539325842696629

In [9]:
sum

1544

In [22]:
arr_cn = []
for i in arr_c:
    if i not in arr_cn:
        arr_cn.append(i)

In [25]:
dfc = pd.DataFrame(arr_cn)

In [26]:
dfc.to_csv('Check_fib')