In [32]:
import matplotlib.pyplot as m
from scipy.stats import bernoulli
from scipy.stats import binom
from scipy import stats
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns
import datetime as dt

In [33]:
data = pd.read_csv("C:\\Users\\sidd7\\Downloads\\NIFTY 50.csv")
data.head()

                        date    close     high      low     open  volume
0  2015-01-09 09:15:00+05:30  8301.20  8301.30  8285.45  8285.45       0
1  2015-01-09 09:20:00+05:30  8301.00  8303.00  8293.25  8300.50       0
2  2015-01-09 09:25:00+05:30  8294.15  8302.55  8286.80  8301.65       0
3  2015-01-09 09:30:00+05:30  8288.50  8295.75  8280.65  8294.10       0
4  2015-01-09 09:35:00+05:30  8283.45  8290.45  8278.00  8289.10       0

In [34]:
data['date'] = pd.to_datetime(data['date'])
data['date1'] = data['date'].dt.date
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day
data['time'] = data['date'].dt.time
data.head()

,date,close,high,low,open,volume,date1,year,month,day,time
0,2015-01-09 09:15:00+05:30,8301.20,8301.30,8285.45,8285.45,0,2015-01-09,2015,1,9,09:15:00
1,2015-01-09 09:20:00+05:30,8301.00,8303.00,8293.25,8300.50,0,2015-01-09,2015,1,9,09:20:00
2,2015-01-09 09:25:00+05:30,8294.15,8302.55,8286.80,8301.65,0,2015-01-09,2015,1,9,09:25:00
3,2015-01-09 09:30:00+05:30,8288.50,8295.75,8280.65,8294.10,0,2015-01-09,2015,1,9,09:30:00
4,2015-01-09 09:35:00+05:30,8283.45,8290.45,8278.00,8289.10,0,2015-01-09,2015,1,9,09:35:00

In [35]:
strat = data.copy()
strat1 = strat[strat['year'] == 2022]
strat1['Size of Candle'] = strat1['close'] - strat1['open']
size = list(strat1['Size of Candle'])
strat1 = strat1.reset_index()

C:\Users\sidd7\AppData\Local\Temp/ipykernel_10116/2908791975.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  strat1['Size of Candle'] = strat1['close'] - strat1['open']

In [36]:
strat1

,index,date,close,high,low,open,volume,date1,year,month,day,time,Size of Candle
0,122027,2022-01-03 09:15:00+05:30,17473.20,17474.65,17387.15,17387.15,0,2022-01-03,2022,1,3,09:15:00,86.05
1,122028,2022-01-03 09:20:00+05:30,17439.20,17478.10,17438.90,17470.95,0,2022-01-03,2022,1,3,09:20:00,-31.75
2,122029,2022-01-03 09:25:00+05:30,17462.35,17463.80,17436.35,17439.75,0,2022-01-03,2022,1,3,09:25:00,22.60
3,122030,2022-01-03 09:30:00+05:30,17462.80,17473.10,17450.75,17463.20,0,2022-01-03,2022,1,3,09:30:00,-0.40
4,122031,2022-01-03 09:35:00+05:30,17473.50,17475.05,17461.40,17463.00,0,2022-01-03,2022,1,3,09:35:00,10.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14170,136197,2022-10-21 15:05:00+05:30,17577.60,17577.95,17562.35,17562.35,0,2022-10-21,2022,10,21,15:05:00,15.25
14171,136198,2022-10-21 15:10:00+05:30,17571.00,17580.95,17570.10,17578.00,0,2022-10-21,2022,10,21,15:10:00,-7.00
14172,136199,2022-10-21 15:15:00+05:30,17579.45,17581.00,17570.75,17571.35,0,2022-10-21,2022,10,21,15:15:00,8.10
14173,136200,2022-10-21 15:20:00+05:30,17595.20,17595.20,17576.75,17579.40,0,2022-10-21,2022,10,21,15:20:00,15.80
14174,136201,2022-10-21 15:25:00+05:30,17583.75,17596.75,17581.70,17594.75,0,2022-10-21,2022,10,21,15:25:00,-11.00

In [37]:
flag = []
for i in strat1['Size of Candle']:
    if i >= 40:
        flag.append(True)
    else:
        flag.append(False)

In [38]:
strat1['is_forty_point'] = flag

In [39]:
fp_index = []
for i in range(4175):
    if (strat1['is_forty_point'][i] == True) and (strat1['date1'][i] == strat1['date1'][i +1 ] == strat1['date1'][i+2] == strat1['date1'][i+3] == strat1['date1'][i+4] == strat1['date1'][i+5] == strat1['date1'][i+6] == strat1['date1'][i+7] == strat1['date1'][i+8] == strat1['date1'][i+9]):
        lst = [strat1['index'][i],strat1['index'][i +1 ], strat1['index'][i+2], strat1['index'][i+3], strat1['index'][i+4], strat1['index'][i+5], strat1['index'][i+6], strat1['index'][i+7], strat1['index'][i+8], strat1['index'][i+9]]
        fp_index.append(lst)

In [41]:
for i in range(len(fp_index)-1):
    for j in fp_index[i]:
        if j in fp_index[i+1]:
            fp_index.pop(i+1)

In [42]:
fp_index1 = []
for i in fp_index:
    for j in i:
        fp_index1.append(j)

In [43]:
strat_final = strat1[strat1['index'].isin(fp_index1)]
strat_final.to_csv("forty_df.csv")

In [44]:
def split_dataframe_by_position(df, splits):
    """
    Takes a dataframe and an integer of the number of splits to create.
    Returns a list of dataframes.
    
    """
    dataframes = []
    index_to_split = len(df) // splits
    start = 0
    end = index_to_split
    for split in range(splits):
        temporary_df = df.iloc[start:end, :]
        dataframes.append(temporary_df)
        start += index_to_split
        end += index_to_split
    return dataframes
forty_point_split = split_dataframe_by_position(strat_final, 41)

In [45]:
forty_point_split[12]

,index,date,close,high,low,open,volume,date1,year,month,day,time,Size of Candle,is_forty_point
1320,123347,2022-01-27 13:00:00+05:30,16963.00,16969.90,16922.55,16922.85,0,2022-01-27,2022,1,27,13:00:00,40.15,True
1321,123348,2022-01-27 13:05:00+05:30,16971.60,16975.75,16958.80,16962.90,0,2022-01-27,2022,1,27,13:05:00,8.70,False
1322,123349,2022-01-27 13:10:00+05:30,17008.10,17012.65,16970.80,16971.30,0,2022-01-27,2022,1,27,13:10:00,36.80,False
1323,123350,2022-01-27 13:15:00+05:30,17004.35,17029.50,16987.95,17007.45,0,2022-01-27,2022,1,27,13:15:00,-3.10,False
1324,123351,2022-01-27 13:20:00+05:30,17013.30,17015.15,16989.40,17003.55,0,2022-01-27,2022,1,27,13:20:00,9.75,False
1325,123352,2022-01-27 13:25:00+05:30,16997.25,17016.95,16991.55,17013.10,0,2022-01-27,2022,1,27,13:25:00,-15.85,False
1326,123353,2022-01-27 13:30:00+05:30,17014.45,17014.90,16992.50,16998.45,0,2022-01-27,2022,1,27,13:30:00,16.00,False
1327,123354,2022-01-27 13:35:00+05:30,17032.30,17035.40,17005.45,17015.70,0,2022-01-27,2022,1,27,13:35:00,16.60,False
1328,123355,2022-01-27 13:40:00+05:30,17044.90,17044.90,17015.50,17032.35,0,2022-01-27,2022,1,27,13:40:00,12.55,False
1329,123356,2022-01-27 13:45:00+05:30,17056.00,17058.95,17042.15,17044.40,0,2022-01-27,2022,1,27,13:45:00,11.60,False

In [46]:
max_point = []
startlst = []
for i in range(len(forty_point_split) -1):
    maxpt = forty_point_split[i]['close'][1:].max()
    max_point.append(maxpt)
for i in range(len(forty_point_split) -1):
    start = forty_point_split[i]['open'][1:2]
    startlst.append(start)

In [47]:
pctchange = []
for i in range(len(max_point)-1):
    ch = ((max_point[i] - startlst[i])/ startlst[i])*100
    pctchange.append(ch)

In [62]:
changeprct = []
for i in pctchange:
    changeprct.append((float(i)))
fp_final_change = []
for i in changeprct:
    if i <= 2:
        fp_final_change.append(i)

positive = []
for i in fp_final_change:
    if i >0:
        positive.append(i)
count = len(positive)
probab = count/len(fp_final_change)
probab

0.8205128205128205

Back Testing

In [49]:
fp_split = forty_point_split
fp_split[16]

,index,date,close,high,low,open,volume,date1,year,month,day,time,Size of Candle,is_forty_point
1726,123753,2022-02-04 09:20:00+05:30,17551.15,17551.15,17480.90,17501.75,0,2022-02-04,2022,2,4,09:20:00,49.40,True
1727,123754,2022-02-04 09:25:00+05:30,17575.05,17592.75,17551.10,17551.10,0,2022-02-04,2022,2,4,09:25:00,23.95,False
1728,123755,2022-02-04 09:30:00+05:30,17568.40,17595.25,17566.40,17575.55,0,2022-02-04,2022,2,4,09:30:00,-7.15,False
1729,123756,2022-02-04 09:35:00+05:30,17575.60,17577.60,17544.65,17567.35,0,2022-02-04,2022,2,4,09:35:00,8.25,False
1730,123757,2022-02-04 09:40:00+05:30,17579.00,17586.30,17564.90,17575.05,0,2022-02-04,2022,2,4,09:40:00,3.95,False
1731,123758,2022-02-04 09:45:00+05:30,17600.65,17603.55,17564.35,17578.65,0,2022-02-04,2022,2,4,09:45:00,22.00,False
1732,123759,2022-02-04 09:50:00+05:30,17616.45,17617.30,17592.00,17602.75,0,2022-02-04,2022,2,4,09:50:00,13.70,False
1733,123760,2022-02-04 09:55:00+05:30,17581.25,17616.55,17577.90,17616.50,0,2022-02-04,2022,2,4,09:55:00,-35.25,False
1734,123761,2022-02-04 10:00:00+05:30,17570.90,17585.85,17565.55,17581.30,0,2022-02-04,2022,2,4,10:00:00,-10.40,False
1735,123762,2022-02-04 10:05:00+05:30,17553.65,17571.65,17542.85,17571.65,0,2022-02-04,2022,2,4,10:05:00,-18.00,False

In [50]:
len(fp_split)

41

In [51]:
for i in range(41):
    fp_split[i]['candle_change'] = ((fp_split[i]['close'] - fp_split[i]['open'])/fp_split[i]['open'])*100

C:\Users\sidd7\AppData\Local\Temp/ipykernel_10116/3537747585.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_split[i]['candle_change'] = ((fp_split[i]['close'] - fp_split[i]['open'])/fp_split[i]['open'])*100

In [52]:
fp_split[0]

,index,date,close,high,low,open,volume,date1,year,month,day,time,Size of Candle,is_forty_point,candle_change
0,122027,2022-01-03 09:15:00+05:30,17473.20,17474.65,17387.15,17387.15,0,2022-01-03,2022,1,3,09:15:00,86.05,True,0.494906
1,122028,2022-01-03 09:20:00+05:30,17439.20,17478.10,17438.90,17470.95,0,2022-01-03,2022,1,3,09:20:00,-31.75,False,-0.181730
2,122029,2022-01-03 09:25:00+05:30,17462.35,17463.80,17436.35,17439.75,0,2022-01-03,2022,1,3,09:25:00,22.60,False,0.129589
3,122030,2022-01-03 09:30:00+05:30,17462.80,17473.10,17450.75,17463.20,0,2022-01-03,2022,1,3,09:30:00,-0.40,False,-0.002291
4,122031,2022-01-03 09:35:00+05:30,17473.50,17475.05,17461.40,17463.00,0,2022-01-03,2022,1,3,09:35:00,10.50,False,0.060127
5,122032,2022-01-03 09:40:00+05:30,17463.35,17474.35,17460.85,17473.55,0,2022-01-03,2022,1,3,09:40:00,-10.20,False,-0.058374
6,122033,2022-01-03 09:45:00+05:30,17484.80,17484.80,17461.00,17463.10,0,2022-01-03,2022,1,3,09:45:00,21.70,False,0.124262
7,122034,2022-01-03 09:50:00+05:30,17493.95,17497.35,17482.40,17484.90,0,2022-01-03,2022,1,3,09:50:00,9.05,False,0.051759
8,122035,2022-01-03 09:55:00+05:30,17497.50,17498.20,17485.25,17492.85,0,2022-01-03,2022,1,3,09:55:00,4.65,False,0.026582
9,122036,2022-01-03 10:00:00+05:30,17496.65,17499.25,17486.25,17496.30,0,2022-01-03,2022,1,3,10:00:00,0.35,False,0.002000

In [53]:
for i in range(41):
    fp_split[i]['mean'] = (fp_split[i]['open'] + fp_split[i]['close'])/2

C:\Users\sidd7\AppData\Local\Temp/ipykernel_10116/58410944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_split[i]['mean'] = (fp_split[i]['open'] + fp_split[i]['close'])/2

In [54]:
fp_split[0]

,index,date,close,high,low,open,volume,date1,year,month,day,time,Size of Candle,is_forty_point,candle_change,mean
0,122027,2022-01-03 09:15:00+05:30,17473.20,17474.65,17387.15,17387.15,0,2022-01-03,2022,1,3,09:15:00,86.05,True,0.494906,17430.175
1,122028,2022-01-03 09:20:00+05:30,17439.20,17478.10,17438.90,17470.95,0,2022-01-03,2022,1,3,09:20:00,-31.75,False,-0.181730,17455.075
2,122029,2022-01-03 09:25:00+05:30,17462.35,17463.80,17436.35,17439.75,0,2022-01-03,2022,1,3,09:25:00,22.60,False,0.129589,17451.050
3,122030,2022-01-03 09:30:00+05:30,17462.80,17473.10,17450.75,17463.20,0,2022-01-03,2022,1,3,09:30:00,-0.40,False,-0.002291,17463.000
4,122031,2022-01-03 09:35:00+05:30,17473.50,17475.05,17461.40,17463.00,0,2022-01-03,2022,1,3,09:35:00,10.50,False,0.060127,17468.250
5,122032,2022-01-03 09:40:00+05:30,17463.35,17474.35,17460.85,17473.55,0,2022-01-03,2022,1,3,09:40:00,-10.20,False,-0.058374,17468.450
6,122033,2022-01-03 09:45:00+05:30,17484.80,17484.80,17461.00,17463.10,0,2022-01-03,2022,1,3,09:45:00,21.70,False,0.124262,17473.950
7,122034,2022-01-03 09:50:00+05:30,17493.95,17497.35,17482.40,17484.90,0,2022-01-03,2022,1,3,09:50:00,9.05,False,0.051759,17489.425
8,122035,2022-01-03 09:55:00+05:30,17497.50,17498.20,17485.25,17492.85,0,2022-01-03,2022,1,3,09:55:00,4.65,False,0.026582,17495.175
9,122036,2022-01-03 10:00:00+05:30,17496.65,17499.25,17486.25,17496.30,0,2022-01-03,2022,1,3,10:00:00,0.35,False,0.002000,17496.475

In [55]:
for i in range(41):
    middle = float(fp_split[i]['mean'][0:1])
    fp_split[i]['stop_change'] = ((fp_split[i]['close'] - middle)/middle)*100

C:\Users\sidd7\AppData\Local\Temp/ipykernel_10116/1144697033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fp_split[i]['stop_change'] = ((fp_split[i]['close'] - middle)/middle)*100

In [56]:
fp_split[0]

,index,date,close,high,low,open,volume,date1,year,month,day,time,Size of Candle,is_forty_point,candle_change,mean,stop_change
0,122027,2022-01-03 09:15:00+05:30,17473.20,17474.65,17387.15,17387.15,0,2022-01-03,2022,1,3,09:15:00,86.05,True,0.494906,17430.175,0.246842
1,122028,2022-01-03 09:20:00+05:30,17439.20,17478.10,17438.90,17470.95,0,2022-01-03,2022,1,3,09:20:00,-31.75,False,-0.181730,17455.075,0.051778
2,122029,2022-01-03 09:25:00+05:30,17462.35,17463.80,17436.35,17439.75,0,2022-01-03,2022,1,3,09:25:00,22.60,False,0.129589,17451.050,0.184594
3,122030,2022-01-03 09:30:00+05:30,17462.80,17473.10,17450.75,17463.20,0,2022-01-03,2022,1,3,09:30:00,-0.40,False,-0.002291,17463.000,0.187175
4,122031,2022-01-03 09:35:00+05:30,17473.50,17475.05,17461.40,17463.00,0,2022-01-03,2022,1,3,09:35:00,10.50,False,0.060127,17468.250,0.248563
5,122032,2022-01-03 09:40:00+05:30,17463.35,17474.35,17460.85,17473.55,0,2022-01-03,2022,1,3,09:40:00,-10.20,False,-0.058374,17468.450,0.190331
6,122033,2022-01-03 09:45:00+05:30,17484.80,17484.80,17461.00,17463.10,0,2022-01-03,2022,1,3,09:45:00,21.70,False,0.124262,17473.950,0.313393
7,122034,2022-01-03 09:50:00+05:30,17493.95,17497.35,17482.40,17484.90,0,2022-01-03,2022,1,3,09:50:00,9.05,False,0.051759,17489.425,0.365888
8,122035,2022-01-03 09:55:00+05:30,17497.50,17498.20,17485.25,17492.85,0,2022-01-03,2022,1,3,09:55:00,4.65,False,0.026582,17495.175,0.386255
9,122036,2022-01-03 10:00:00+05:30,17496.65,17499.25,17486.25,17496.30,0,2022-01-03,2022,1,3,10:00:00,0.35,False,0.002000,17496.475,0.381379

In [57]:
final =[]
for i in range(41):
    final.append((list(fp_split[i]['stop_change'])))
final1 = []
for i in final:
    for j in i:
        final1.append(float(j))

In [58]:
final

[[0.24684204260713283,
  0.05177802288271814,
  0.18459367160682913,
  0.18717540127965643,
  0.24856319572234406,
  0.1903308486575472,
  0.31339329639545416,
  0.36588846640953293,
  0.386255444939578,
  0.3813788444464759],
 [0.11453065112376527,
  0.21743814210871648,
  0.25089016397160546,
  0.3557820969314857,
  0.3427414782391804,
  0.430340416846199,
  0.483069875036858,
  0.5346653663846828,
  0.4036921960401919,
  0.422686140657243],
 [0.12419529745688386,
  0.2246204870199698,
  0.25134427695972883,
  0.3846819236065302,
  0.365553316070715,
  0.3815875900345622,
  0.40127880367438457,
  0.413656137962277,
  0.3275774040510575,
  0.28031849131547565],
 [0.13300765275915954,
  0.14539967009696866,
  0.21176580739500922,
  0.332656820979418,
  0.3692821166667286,
  0.3979214456252048,
  0.3120034587497361,
  0.25334791001743145,
  0.20322908434007803,
  0.1555886621302704],
 [0.16629233782391079,
  0.18299000466713075,
  -0.05077733113800871,
  -0.05679944049129462,
  0.05543077927463693,
  -0.014097210531578312,
  -0.06856992695455884,
  -0.04721881197469071,
  -0.027236358211500215,
  0.07568696528115498],
 [0.15936288192557752,
  0.1518601830380489,
  0.3052486936272869,
  0.26968034334571916,
  0.2719033652383247,
  0.24772800215631502,
  0.33525948917734066,
  0.05543660844664147,
  0.055714486183212106,
  0.0837801375772512],
 [0.13965606494148822,
  0.0807786607808059,
  0.2466024609048265,
  0.46845934614793044,
  0.5358697074333267,
  0.5108396998674505,
  0.3307943045355387,
  0.41896819482446457,
  0.2975157717490814,
  0.14562913492879842],
 [0.14100855509220608,
  0.30007308370232605,
  0.14215496610922015,
  0.026080850636970448,
  -0.05732055085049367,
  0.08454781250447817,
  -0.10231718326812286,
  -0.22555636759668427,
  -0.24361234111459812,
  -0.32271470128827523],
 [0.3285549736071542,
  0.5510110172894361,
  0.1266152975899258,
  0.4062240797676332,
  0.2160080424161375,
  -0.030481460530909246,
  -0.17028585161976298,
  -0.0873411080596957,
  0.22509386238207607,
  0.4604459085966469],
 [0.2644438397008714,
  0.445472508489412,
  0.44576830696782027,
  1.042098039447672,
  1.239987221505724,
  1.1891098832187605,
  1.2816948069618999,
  1.5816344640723081,
  1.336417525468236,
  1.1752073547333544],
 [0.12641709485358388,
  0.2941964649818821,
  0.29332261409578886,
  0.36264811772519134,
  0.25399932422197297,
  0.23652230650027697,
  0.24526081536112493,
  0.3227422605939728,
  0.23652230650027697,
  0.33701515840002877],
 [0.21560270355216166,
  -0.030254875294091002,
  -0.3518965107022821,
  -0.4793782182521997,
  -0.36423345014260916,
  -0.263775514700038,
  -0.035542135054234196,
  0.08547736612217256,
  0.03994818485434641,
  -0.04464797130779516],
 [0.11848603473131546,
  0.169244684728282,
  0.3846738387852114,
  0.3625407065190885,
  0.41536511552757277,
  0.3206353094285711,
  0.4221526094225257,
  0.527506319009262,
  0.6018736434234477,
  0.6673877149311629],
 [0.219903196206723,
  -0.03986379628005549,
  0.13292764068660193,
  0.3825474850293452,
  0.49474595165029295,
  0.5356244627447456,
  0.42603526278940573,
  0.591578736796032,
  0.5698348479160017,
  0.5686751738423959],
 [0.18115942028987167,
  0.18286847142467746,
  0.023357032175748468,
  0.09570686354937398,
  -0.09770075653995659,
  -0.6727964634035102,
  -0.7075471698113042,
  -1.5700483091787356,
  -0.9103545711420978,
  -1.025145839030154],
 [0.19143524735071557,
  0.4157577202402922,
  0.2531885529477193,
  0.34510044965023634,
  0.5961348175189903,
  0.559082834160784,
  0.5306475911184385,
  0.6168149942770483,
  0.6656431894002606,
  0.7699057472221869],
 [0.14092985173837672,
  0.2772951738657774,
  0.23935252147468952,
  0.28043328797330785,
  0.29983253881989375,
  0.42336012141649176,
  0.5135095812329364,
  0.3126702783507172,
  0.2536166765089378,
  0.15519400677262496],
 [0.20509170529108017,
  0.009289868183916522,
  -0.1490666540896185,
  -0.14820912779571022,
  -0.33143391259233657,
  -0.25597159872913355,
  -0.2085218104666718,
  -0.18965623200087625,
  -0.4774992246532968,
  -0.471496540596001],
 [0.13105089993630947,
  0.2255125052296622,
  0.16836906499048032,
  0.18032253973438747,
  0.2430053950988008,
  0.34854583064259526,
  0.3249304293192624,
  0.2237632162427526,
  0.046501932235472866,
  0.04766812489341968],
 [0.11973262584845663,
  0.09475243772178593,
  0.003445543189875528,
  -0.0887227371395351,
  0.07120789259092108,
  0.020099001940968433,
  -0.015217815755328847,
  -0.017227715949440316,
  -0.12145539744341528,
  -0.2213761499500563],
 [0.1708849265194816,
  0.1625909300858959,
  0.1297009442285898,
  0.22694090241540776,
  0.3507788491650782,
  0.4380088116561943,
  0.5092227810341916,
  0.5835827490594054,
  0.5092227810341916,
  0.5180887772218091],
 [0.20008097464020638,
  0.05962678052191836,
  -0.13765688836541648,
  -0.11940078766241792,
  -0.03106481651883517,
  0.0993779675365306,
  0.1211675070852853,
  0.2916559313924043,
  0.4182708233648729,
  0.22216496742610206],
 [0.14491834890382893,
  -0.005159859828722138,
  -0.09921673327800426,
  -0.05941210031357634,
  -0.19533755065876665,
  -0.4368189906429671,
  -0.4477284085665424,
  -0.24398765761528968,
  -0.4642399600184704,
  -0.5700907987905245],
 [0.18476143022340283,
  0.17986518031881607,
  0.10987760815312435,
  0.002736139652580441,
  0.04651437409365793,
  -0.2245074588606919,
  -0.1136217992566257,
  -0.016560845265542353,
  -0.14271128398392197,
  -0.15336782789393572],
 [0.20524089891368305,
  0.2313032352836821,
  0.21234880883277568,
  0.2775046497577517,
  -0.03257792046248801,
  -0.04797839195383736,
  0.010365701965337093,
  0.1012877163470211,
  0.30860175565376297,
  0.4306208759314367],
 [0.14675806137906286,
  0.33536279889431336,
  0.45441953945081953,
  0.6533385985489353,
  0.5637513482291869,
  0.8999982318306116,
  0.8602144200109886,
  0.955695568378067,
  0.9724931778130318,
  0.8596250302062405],
 [0.37879642965176474,
  0.22167943618477035,
  0.1858615775208323,
  0.2689349303884388,
  -0.022724775875025503,
  -0.3703686982014405,
  -0.7899493282646679,
  -0.6981472535377792,
  -0.5539728476552183,
  -0.3962538733703294],
 [0.14720752926337996,
  0.15145244256861032,
  0.270916431301402,
  -0.010460679216440822,
  -0.14478186451750566,
  -0.2405956219783154,
  -0.39553495761908003,
  -0.23847316532571128,
  -0.43343596927288314,
  -0.0859594944307989],
 [0.14103050521571459,
  0.2958163973281471,
  0.280398271355994,
  0.43125405292650076,
  0.2583291890821661,
  0.5639708627650835,
  0.7220822330283644,
  0.7955450685426438,
  0.7042455774919678,
  0.5307160812565559],
 [0.19178198954027115,
  0.1561653343399218,
  0.014611961107816894,
  0.11628685714980636,
  0.18965107854536598,
  0.16255806732459308,
  0.1555565026271044,
  0.28584648917191025,
  0.2596667255203856,
  0.2803670037564872],
 [0.1469265367316342,
  0.07856071964017118,
  0.21499250374811724,
  0.2470764617691198,
  0.18350824587705275,
  0.2917541229385394,
  0.29475262368816463,
  0.3037481259370402,
  0.3667166416791691,
  0.3844077961019403],
 [0.13466070312122957,
  0.2591016207377395,
  0.0538041648631576,
  0.024347136055398882,
  -0.1021978550473717,
  -0.2512864906459079,
  -0.35618958303275133,
  -0.2720266435819747,
  -0.43283797431828014,
  -0.3838431202808768],
 [0.12175005891130561,
  0.07552733183082096,
  -0.009667498474361083,
  0.028700386095698333,
  -0.03172147936897601,
  -0.13957450922341094,
  -0.12718802680315708,
  -0.11117623245500959,
  -0.02416874618589172,
  0.029606714077677242],
 [0.13657809783957842,
  0.21107524211571005,
  0.23469628786181082,
  0.35976669674815615,
  0.3543156861913789,
  0.31736994797311935,
  0.13930360311797804,
  0.06510929276166365,
  0.012416190712684941,
  -0.05814411260577796],
 [0.13230473632685233,
  0.04674056852971609,
  -0.25501775989356934,
  -0.43893504583469994,
  -0.4715164193375196,
  -0.520236230182854,
  -0.44106653755918557,
  -0.4191426226787829,
  -0.3771217858246842,
  -0.722423445190996],
 [0.12140894630288859,
  0.2292610623734432,
  0.3744697773064555,
  0.27987322857416536,
  0.26209871782510097,
  0.47057264050900494,
  0.4274920466595794,
  0.5067241877952288,
  0.4573170731707185,
  0.2690277643883026],
 [0.11922313433611854,
  0.16673422149372322,
  0.1370397920202203,
  0.048847336483925266,
  0.24512751530377525,
  0.29501415681924714,
  0.23859474081959164,
  0.2953111011139995,
  0.22226280460916503,
  0.15277783964118546],
 [0.20917658099342248,
  0.26472312241725576,
  0.2729089285218292,
  0.35096643673320743,
  0.460890118708789,
  0.5298847701615673,
  0.743008079098258,
  0.7061719516277201,
  0.7737048519903763,
  0.8213579375276734],
 [0.1780975098464566,
  0.29488276220478876,
  0.43619291755837497,
  0.42159476101358345,
  0.4227626135371498,
  0.49137394929766987,
  0.4867025392033409,
  0.7010034772808846,
  0.7716585549576671,
  0.7687389236487089],
 [0.1278160612004737,
  0.1257803105101234,
  0.011778271851226273,
  -0.03591645860811601,
  -0.07837640157801029,
  -0.043477818315080005,
  -0.07139668492541999,
  0.05481985787549426,
  0.12141798760225712,
  0.18772529580183311],
 [0.12243423930754799,
  0.2985986124119459,
  0.2663018106761396,
  0.28215660425551836,
  0.6265579536746249,
  0.6544506460828212,
  0.6653141157575838,
  0.78040817285247,
  0.864673464654065,
  0.9818227727684938]]

In [59]:
final_changes = []
for i in final:
    if min(i) < 0:
        final_changes.append(min(i))
    if min(i)> 0:
        final_changes.append(max(i))

In [60]:
final_changes

[0.386255444939578,
 0.5346653663846828,
 0.413656137962277,
 0.3979214456252048,
 -0.06856992695455884,
 0.33525948917734066,
 0.5358697074333267,
 -0.32271470128827523,
 -0.17028585161976298,
 1.5816344640723081,
 0.36264811772519134,
 -0.4793782182521997,
 0.6673877149311629,
 -0.03986379628005549,
 -1.5700483091787356,
 0.7699057472221869,
 0.5135095812329364,
 -0.4774992246532968,
 0.34854583064259526,
 -0.2213761499500563,
 0.5835827490594054,
 -0.13765688836541648,
 -0.5700907987905245,
 -0.2245074588606919,
 -0.04797839195383736,
 0.9724931778130318,
 -0.7899493282646679,
 -0.43343596927288314,
 0.7955450685426438,
 0.28584648917191025,
 0.3844077961019403,
 -0.43283797431828014,
 -0.13957450922341094,
 -0.05814411260577796,
 -0.722423445190996,
 0.5067241877952288,
 0.2953111011139995,
 0.8213579375276734,
 0.7716585549576671,
 -0.07837640157801029,
 0.9818227727684938]

In [61]:
final_changes = pd.DataFrame(final_changes)
final_changes.to_csv('final.csv')